/*================================================
Features Section CSS
=================================================*/
.features-section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    line-height: 1;
    overflow: hidden;
  }
  
  .features-content-area span {
    font-size: 14px;
    color: #f20791;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .features-content-area h3 {
    font-size: 38px;
    color: #202647;
    font-weight: bold;
    margin: 10px 0 25px 0;
    position: relative;
    padding-bottom: 20px;
  }
  
  .features-content-area h3::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    background-color: #fab4a2;
    bottom: 0;
    left: 0;
  }
  
  .features-content-area h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 32px;
    background-color: #ff724e;
    bottom: 0;
    margin: 0 auto 0;
    left: 95px;
  }
  
  .features-content-area p {
    font-size: 14px;
    color: #6a6c72;
    font-weight: 400;
    margin: 0 0 0 0;
  }
  
  .features-content-area .features-btn {
    margin-top: 25px;
  }
  
  .features-content-area .features-btn .features-btn-one {
    display: inline-block;
    padding: 12px 32px;
    color: #ffffff;
    text-transform: capitalize;
    background-color: #e60459;
    border: 1px solid #e60459;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .features-content-area .features-btn .features-btn-one:hover {
    background-color: #ffffff;
    color: #e60459;
  }
  
  .col-lg-7 .col-lg-6:nth-child(2) .single-features-item {
    margin-top: 40px;
  }
  
  .col-lg-7 .col-lg-6:nth-child(3) .single-features-item {
    margin-top: -40px;
    margin-bottom: 0;
  }
  
  .col-lg-7 .col-lg-6:nth-child(4) .single-features-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .single-features-item {
    -webkit-box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
    box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    padding: 40px 30px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .single-features-item h3 {
    font-size: 20px;
    color: #3b3663;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }
  
  .single-features-item p {
    font-size: 14px;
    color: #6a6c72;
    font-weight: 400;
    margin: 0 0 0 0;
  }
  
  .single-features-item.bg-f1eff8 {
    background: #f1eff8;
    border: 1px solid #f1eff8;
  }
  
  .single-features-item.bg-f1eff8 .icon i {
    display: inline-block;
    height: 65px;
    width: 65px;
    color: #5d43bc;
    border: 2px dotted #5d43bc;
    line-height: 65px;
    border-radius: 50px;
  }
  
  .single-features-item.bg-f1eff8 .icon i::before {
    font-size: 30px;
  }
  
  .single-features-item.bg-fbe6d4 {
    background: #fbe6d4;
    border: 1px solid #fbe6d4;
  }
  
  .single-features-item.bg-fbe6d4 .icon i {
    display: inline-block;
    height: 65px;
    width: 65px;
    color: #f1760c;
    border: 2px dotted #f1760c;
    line-height: 65px;
    border-radius: 50px;
  }
  
  .single-features-item.bg-fbe6d4 .icon i::before {
    font-size: 30px;
  }
  
  .single-features-item.bg-f0fffc {
    background: #f0fffc;
    border: 1px solid #f0fffc;
  }
  
  .single-features-item.bg-f0fffc .icon i {
    display: inline-block;
    height: 65px;
    width: 65px;
    color: #19b192;
    border: 2px dotted #19b192;
    line-height: 65px;
    border-radius: 50px;
  }
  
  .single-features-item.bg-f0fffc .icon i::before {
    font-size: 30px;
  }
  
  .single-features-item.bg-f8e1eb {
    background: #f8e1eb;
    border: 1px solid #f8e1eb;
  }
  
  .single-features-item.bg-f8e1eb .icon i {
    display: inline-block;
    height: 65px;
    width: 65px;
    color: #f0116f;
    border: 2px dotted #f0116f;
    line-height: 65px;
    border-radius: 50px;
  }
  
  .single-features-item.bg-f8e1eb .icon i::before {
    font-size: 30px;
  }
  
  .single-features-item:hover {
    background-color: transparent;
    border: 1px dotted #f20791;
  }
  
  .features-animation .shape-img1 {
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: -1;
    height: auto;
    -webkit-animation: animationFramesOne 20s infinite linear;
            animation: animationFramesOne 20s infinite linear;
    width: 12px;
  }
  
  .features-animation .shape-img2 {
    position: absolute;
    left: 36%;
    top: 16%;
    z-index: -1;
    width: 100%;
    height: auto;
    -webkit-animation: moveLeftBounce 3s linear infinite;
    animation: moveLeftBounce 3s linear infinite;
  }